/* Site Colors:
  #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/

html { height: 100%; width: 100%; }
body { height: 100%; width: 100%; margin: 0; padding: 0; border: 0; background: #FFFFFF;
  font: 13px/15px Verdana,Arial,Helvetica,sans-serif; }
img { border: none; }
table, tr, td, tr { border-collapse: collapse; vertical-align: top; text-align: left;
  font: 13px/15px Verdana,Arial,Helvetica,sans-serif; }
a { color: #8D0D19;}

#header { height: 100px; text-align: left; background: #1A446C; color: #D4E6F4; }
#header h1 { padding: 1em; margin: 0}

/* Note: IE 5 & 6 won't understand min-height */
#main { min-height: 600px; width: 100%; background: #EEE4B9; padding: 2em;}

#footer { height: 2em; padding: 1em; text-align: center; 
  background: #1A446C;  color: #D4E6F4; }

table.bordered tr th, {height:400px; overflow-y:scroll}  table.bordered tr td { border: 1px solid #000000;  }

.rw-wrapper{
    width: 100%;
    position: relative;
    margin: 0px auto 0 auto;
    font-family: 'Bree Serif';
    padding: 10px;
}

.rw-sentence{
    margin: 20;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.rw-sentence span{
    color: #1A446C;
    white-space: nowrap;
    font-size: 160%;
    font-weight: normal;
}

.rw-words{
    display: inline;
    font-size: 70%;
    text-indent:10px;
}

.rw-words span{
    position: absolute;
    opacity: 0%;
    overflow: hidden;
    width: 60%;
    color: #1A446C;
}

.rw-words-1 span{
    animation: rotateWordsFirst 18s linear infinite 0s;
}

.rw-words span:nth-child(2) {
    animation-delay: 3s;
    color: #1A446C;
}
.rw-words span:nth-child(3) {
    animation-delay: 6s;
    color: #1A446C;
}
.rw-words span:nth-child(4) {
    animation-delay: 9s;
    color: #1A446C;
}
.rw-words span:nth-child(5) {
    animation-delay: 12s;
    color: #1A446C;
}
.rw-words span:nth-child(6) { 
    animation-delay: 15s;
    color: #1A446C;
}

@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 100%; }
    19% { opacity: 1; height: 100%; }
    25% { opacity: 0; height: 100%; }
    100% { opacity: 0; }
}
